body {
  background: linear-gradient(138deg, #121212 10%, #2c2c2c 50%, #121212 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  font-family: 'Poppins', sans-serif;
  color: #eee;
  margin: 0;
  padding: 0;
  
}
